body { 
  color: black; 
  background-color: white; 
}

p + p {
  text-indent: 1em;
}

hr {
  height: 2pt;
}

a img {
  background: transparent;
  color: white;
  border: 0;
}

h1, .center, .addresses, .notice {
  text-indent: 0;
  text-align: center;
  margin-left: 0%;
}

.bottomtext { 
  font-size: smaller; 
  text-align: right; 
}

.addresses {
  background-color: #ffffcc;
  width: 50%;
  margin-left: 25%;
}

.notice {
  color: red;
  background-color: white;
}
